demo/data
demo/media
Credentials.plist
.vscode
venv

*.app.dSYM.zip
*.ipa

.env.default
*.p8

*.xcloc
swift-paperless.xcodeproj/project.xcworkspace/xcuserdata/*
*.afdesign~lock~
swift-paperless.xcodeproj/xcuserdata
.env
scripts/frames

/vendor
