demo/data
demo/media
Credentials.plist
.vscode
venv

*.app.dSYM.zip
*.ipa

.env.default
*.p8

fastlane/report.xml
fastlane/README.md
*.xcloc
fastlane/test_output/report.junit
swift-paperless.xcodeproj/project.xcworkspace/xcuserdata/*
*.afdesign~lock~
